# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
/client/node_modules/
/API/vendor/

# Build & Cache
dist/
dist-ssr/
.vite/
/client/.vite/
.cache/

# Environment
.env.local
.env.*.local
*.local

# Symfony specific
/API/var/
/API/public/bundles/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
